<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="79.1.36" targetFramework="net472" />
  <package id="cef.redist.x86" version="79.1.36" targetFramework="net472" />
  <package id="CefSharp.Common" version="79.1.360" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="79.1.360" targetFramework="net472" />
  <package id="Mzying2001.SimpleMvvm" version="1.0.5" targetFramework="net472" />
</packages>