<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="79.1.36" targetFramework="net472" />
  <package id="cef.redist.x86" version="79.1.36" targetFramework="net472" />
  <package id="CefSharp.Common" version="79.1.360" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="79.1.360" targetFramework="net472" />
  <package id="HandyControl" version="3.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
</packages>